@media only screen and (min-width: 768px) and (min-height: 838px) {
    #container {margin: auto;}
}

@media screen and (min-width: 366px) {
    #findMe {
        float: right;
        text-align: right;
        right: 8px;
        top: 8px;
    }
}

@media screen and (prefers-color-scheme: dark) {
    #flexContainer, html { background-color: hsl(0, 0%, 5%); }
    h1, h3, form > *:not(.butField):not(.reset), #progress, p:not(.fielDesc):not(.question):not(.comment):not(.forBreath):not(#thank), #footer, #meHead > *, #pil > * .answer > *, ul { 
        filter: invert(1) hue-rotate(180deg);
    }
    h1 { display: inline-block; }
    button, input[type=button] { color: #000 !important; }
    #summary { color: #ccc; }
    #naprawion { background-color: hsl(0, 0%, 10%) !important; }
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: hsl(0, 0%, 95%);
    margin: 0;
    height: 100%;
}

#flexContainer {
    display: flex;
    justify-content: center;
    height: 100%;
}

#container {
    max-width: 680px;
    margin-bottom: auto;
}

#header {
    padding: 20px 18px 0 18px;
}

#header h1 { margin: 0; }

#meHead {
    margin: 4px 0 8px 1.4px;
    font-size: 12px;
    color: #999;
    letter-spacing: .8px;
    line-height: 1.7em;
}

#findMe {
    font-size: 20px;
    color: #999;
    letter-spacing: 2px;
    position: relative;
    left: 2px;
    padding-bottom: 10px;
}

#findMe a:nth-child(2) {
    text-decoration: none;
    color: #999;
}

#findMe a:nth-child(2):hover {
    color: #2d90be;
}

a {
    text-decoration: none;
    color: #2d90be;
}

a:hover {
    color: #2c7cad;
}

#header h3 {
    font-weight: 500;
    margin-bottom: 22px;
    line-height: 1.5em;
}

#naprawion {
    margin: 18px 18px 24px 18px;
    text-align: center;
    background-color: #fff;
    color: #2d90be;
    border-radius: 6px;
    padding: 10px;
    font-size: .9em;
}

#uInfo {
    border: 0;
}

#introcont {
    padding: 0 16px 16px 16px;
}

#intro {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
}

#intro iframe, #intro object, #intro embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; border-radius: 10px; }

#progress {
    font-size: 12px;
    display: flex;
    width: 30px;
    height: 30px;
    position: fixed;
    bottom: 20px;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 95%);
    border-radius: 50%;
    border: 7px solid #ddd;
}

#summary {
    line-height: 1.6em;
    letter-spacing: 0.3px;
    text-align: justify;
    padding: 0 22px 0 22px;
    margin-bottom: 32px;
}

#footer {
    margin: 16px 0 80px 0;
    height: fit-content;
    text-align: center;
    font-size: 12px;
    color: #555;
    letter-spacing: 2px;
}

hr {
    position: relative;
    left: -12px;
    border: 0;
    border-bottom: 1px solid #2d90be60;
    width: calc(100% + 24px);
}

.butField {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.bot8 {
    position: relative;
    bottom: 7px;
}

button, input[type=button] {
    height: 100%;
    padding: 12px;
    color: #fff;
    background-color: #2d90be;
    border: 0px;
    border-radius: 6px;
    font-size: .85rem;
}

button:hover, input[type=button]:hover {
    color: #fff;
    background-color: #2c7cad;
    cursor: pointer;
}

.reset {
    margin-left: 8px;
    background-color: #777;
}

.reset:hover {
    background-color: #555;
}

legend {
    padding: 0 10px 0 10px;
}

input[type=text] {
    width: 160px;
    font-size: 14px;
    padding: 4px;
    margin-left: 5px;
    border: 1px dashed #2d90be80;
    border-radius: 4px;
    background-color: #2c7bad00;
}

input[type=text]:focus {
    outline: none;
}

.ymtd { width: 38px !important; }

.czas { padding: 0 4px 0 4px !important; position: relative; left: 0px; top: 1px; }

#uInfo label {
    position: relative;
    bottom: 1px;
    padding-right: 16px;
    color: #555;
}

.fieldIn {
    padding: 0 12px 15px 12px;
    margin-bottom: 12px;
    border-radius: 6px;
}

.fieldOut {
    margin: 15px;
}

.fielDesc {
    font-size: 14px;
    font-weight: 100;
    padding: 10px 0 1px 10px;
    margin: 0;
    line-height: 1.6em;
}

.flexRow {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.radioans {
    margin: 12px 0 -6px -2px;
    background: #eee;
    border-radius: 9px;
    margin-bottom: 6px;
}

.radioans input[type=radio] {
    margin: 0px; padding: 0;
    width: 18px;
    height: 18px;
}

.reqField {
    border: 1px solid #2d90be;
}

.explain {
    color: #777;
    padding: 20px 24px 0 24px;
}

.explain strong {
    color: #666;
}

.explain ol {
    list-style: none;
    counter-reset: item;
}

.explain li {
    counter-increment: item;
    padding-bottom: 8px;
}

.explain li:before {
    content: counter(item) ". ";
    color: #555;
    padding-right: 3px;
}

.explain li:first-of-type:before,
.explain li:last-of-type:before {
    font-weight: bold;
    color: #333;
}

.explain li:is(.middleOl):before, .middleOl {
    color: #888;
}

.explain ul:last-child {
    padding-bottom: 0;
}

.question {
    padding: 12px 24px 0 24px;
    letter-spacing: 1px;
    color: #000;
}

.answer {
    width: calc(100% - 30px);
    margin: 0 auto;
}

.datalist {
    position: relative;
    left: 4px;
    padding: 8px 0 0 0;
    width: calc(100% - 9px);
}

.formCount {
    color: #999;
    padding-left: 8px;
    letter-spacing: 2px;
}

.optField {
    border: 1px dashed #2d90be7a;
}

.formBlock {
    display: block;
    float: left;
    padding-top: 12px;
}

.otherText {
    position: relative;
    bottom: 3px;
    top: 7px;
    margin-bottom: 8px;
}

.underDot {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 80%, #888 0%);
    background-position: bottom;
    background-size: 7px 1px;
    background-repeat: repeat-x;
}

.underDotHover:hover {
    background-image: linear-gradient(to right, rgba(255, 255, 255, 0) 80%, #888 0%);
    background-position: bottom;
    background-size: 7px 1px;
    background-repeat: repeat-x;
}

.anText {
    margin: 12px 0 16px 0;
    color: #555;
}

.align-left { text-align: left; }

.align-right { text-align: right; }

.align-center { text-align: center; }

.position-center { margin: 0 auto; }

.comment {
    letter-spacing: 2px;
    font-style: italic;
    text-align: center;
    line-height: 1.5em;
}

.inBetween {
    font-size: 12px;
    color: #2d90be7a;
}

.forBreath {
    font-size: 13px;
    color: #555;
    margin-bottom: 0;
}

#feedback {
    width: 100%;
    position: relative;
    left: -22px;
    border-top: 1px solid #2d90be60;
    padding: 22px;
}

#feedback p {
    text-indent: 2em;
    padding-top: 12px;
    margin: 0;
    color: #666;
}

#feedback p:nth-child(2) {
    padding: 18px 12px 12px 12px;
}

#feedback p:nth-child(4) {
    padding-bottom: 30px;
}

#feedback strong {
    color: #444;
}

#feedback ul {
    list-style-type: none;
    padding: 12px 12px 0 12px;
    margin: 0;
    color: #666;
}

#feedback li {
    padding-bottom: 12px;
}

#feedback li::before {
    content: '– ';
    color: #888;
    line-height: 2em;
}

.starred {
    font-size: .8em;
    color: #888;
    line-height: 1.7em;
    text-align: right;
    letter-spacing: 0;
    padding: 20px 0 12px 0;
}







.logo {
    content: url(logo.svg);
}

.top10 { margin-top: 10px; }

#logo32 { width: 32px; height: 32px; }
#logo64 { width: 64px; height: 64px; }






.errorMsg {
    color: hsl(19, 62%, 54%);
    font-size: 13px;
    margin: 0 0 0 6px;
}

.beforeNext {
    color: #2d90be;
    padding: 11px 10px 10px 10px;
    margin: 0;
    background-color: rgba(238, 238, 238, 0.5);
    border-radius: 8px;;
    text-align: center;
}






::placeholder {
    color: #000;
    opacity: .4;
    font-style: italic;
    text-align: center;
}

input[type=range] {
    width: 100%;
    margin: 5.8px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #dadada;
    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -6px;
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    background: #dadada;
    border: 0;
    border-radius: 5px;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 5.8px 0;
    color: transparent;
    width: 100%;
    height: 8.4px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #dadada;
    border: 0;
    border-radius: 5px;
}

input[type=range]::-ms-fill-upper {
    background: #dadada;
    border: 0;
    border-radius: 5px;
}

input[type=range]::-ms-thumb {
    width: 20px;
    height: 20px;
    background: #fff;
    border: 1px solid #000;
    border-radius: 50px;
    cursor: pointer;
    margin-top: 0px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #ccc;
}

input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}

@supports (-ms-ime-align:auto) {
    input[type=range] {
      margin: 0;
    }
  }